@model HR.Models.db.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpIdno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpIdno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpGenderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpGenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpMarrySatatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpMarrySatatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpIdcardAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpIdcardAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpCurrentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpCurrentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpJobName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpJobName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPositionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPositionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDepartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingHrsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkingHrsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
